body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg, #ff9a9e 0%, #fecfef 100%);
    overflow: hidden;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    box-sizing: border-box;
    z-index: 1;
}

h1 {
    color: #d7263d;
    font-size: 2em;
}
p {
    font-size: 1.2em;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background-color: #d7263d;
    color:white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #c21833;
}

.hidden {
    display: none;
}

#surprise {
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

img {
    max-width: 60%;
    height: auto;
    border-radius: 10px; 
}

@media (min-width: 600px) {
    .container {
        max-width: 80%;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.4em;
    }

    button {
        font-size: 1.1em;
    }
}

@media (min-width: 900px) {
    .container {
        max-width: 60%;
    }

    h1 {
        font-size: 3em;
    }

    p {
        font-size: 1.5em;
    }

    button {
        font-size: 1.2em;
    }
}
